.hero
{
width:100%;
height:100%;

}
.form-box{
width:380px;
height:480px;
position:relative;
margin:6% auto;
background:#fff;
padding:5px;
overflow:hidden;
border:solid;
border-color:black;
}
.button-box{
width:220px;
position:relative;
margin:35px auto;
box-shadow:0 0 20px 9px #00612410;
border-radius:30px;
}
.toggle-btn{
padding:10px 30px;
cursor:pointer;
background:transparent;
border:0;
outline:none;
position:relative;
}
#btn{
top:0;
left:0;
position:absolute;
width:110px;
height:100%;
background:linear-gradient(to right,#001ff0,#00f0ff);
border-radius:30px;
transition:.5s;
}
.social-icons{

margin: 30px;
text-algin:center;
}
.social-icons img{
left:90px;
width:35px;
height:35px;
margin:0 12px;
box-shadow:0 0 20px 0 #7f7f7f3d;
cursor:pointer;
border-radius:50%;
position:relative;
}
.input-grp{
left:60px;
top:170px;
position:absolute;
width:300px;
transition:.5s;
font-weight:bold;

}
.input-field{
font-weight:bold;
width:100px;
padding:10px 0;
margin:5px 0;
border-left:0;
border-top:0;
border-right:0;
border-bottom:1px solid #999;
outline:none;
background:transparent;
}
.submit-btn{

left:50px;
width:65%;
padding:10px 20px;
margin:auto;
cursor:pointer;
display:block;
background:linear-gradient(to right,#001ff0,#00f0ff);
border:0;
outline:none;
border-radius:25px;

}
.check-box{
margin:30px 10px 30px 0;
}
span{
color:#777;
font-size:12px;
bottom:68px;
position:absolute;
}
#login{
left:50px;
}
#sign{
left:450px;
//bottom:80px;
}